@import "./base/reset.css";
@import "./components/font-awesome.min.css";
@import "./components/buttons.css";

:root {
  --primary-color: #ff5e61;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 0 20px;
}

main.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% - 80px);
}

.logo {
  max-height: 40px;
  margin-right: auto;
}

.menu {
  display: none;
  gap: 20px;
}

.menu > a {
  color: #000;
  text-decoration: none;
}

.menu > a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.hamburger {
  font-size: 2em;
}

.gallery {
  padding: 0 0.7em;
  position: relative;
  font-size: 25px;
}

.gallery > picture {
  width: 100%;
}

.gallery > picture > img {
  width: 100%;
}

.gallery > .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4em;
  height: 1.4em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  line-height: 1.4em;
  text-align: center;
}

.gallery > .fa.fa-angle-left {
  left: 0;
  padding-right: 2px;
}

.gallery > .fa.fa-angle-right {
  right: 0;
  padding-left: 2px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text > .category {
  color: var(--primary-color);
  font-weight: bold;
  font: 17px;
}

.text > .title {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: 40px;
}

.text > .description {
}

.text > .contains {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text > .contains > .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text .list > .list-title {
  font-size: 17px;
}

.text .list > .list-plus {
}

.text .list-plus > li::before {
}

.text .list > .list-image {
}

.text .list-image > li {
}

.text .list-image img {
}

.text > form {
}

.text > form > button {
}

@media (min-width: 480px) {
  .container {
    width: 460px;
  }
}

@media (min-width: 780px) {
  .container {
    width: 660px;
  }
  .menu {
    display: flex;
  }
  .hamburger {
    display: none;
  }

  main.container {
    flex-direction: row;
  }

  .gallery {
    width: 60%;
  }

  .text {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
