@import "./base/reset.css";
@import "./components/font-awesome.min.css";
@import "./components/buttons.css";

:root {
  --primary-color: #ff5e61;
  --primary-color-light: #fcc7d6;
  --primary-color-dark: #876c74;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  padding-top: 70px 0 30px 0;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 20px;
  position: relative;
}

header.container {
  position: fixed;
  top: 0;
  z-index: 1;
}

main.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 120px);
}

.logo {
  max-height: 40px;
  margin-right: auto;
}

.main-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  transform: translateY(95%);
  box-shadow: 0 4px 4px -4px #0003;
}

.menu-visible .main-menu {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu > a {
  color: #000;
  text-decoration: none;
}

.menu > a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.hamburger {
  font-size: 2em;
}

.gallery {
  padding: 0 0.7em;
  position: relative;
  font-size: 25px;
}

.gallery > picture {
  width: 100%;
}

.gallery > picture > img {
  width: 100%;
}

.gallery > .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4em;
  height: 1.4em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  line-height: 1.4em;
  text-align: center;
}

.gallery > .fa.fa-angle-left {
  left: 0;
  padding-right: 2px;
}

.gallery > .fa.fa-angle-right {
  right: 0;
  padding-left: 2px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text > .category {
  color: var(--primary-color);
  font-weight: bold;
  font: 17px;
}

.text > .title {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: 40px;
}

.text > .description {
}

.text > .contains {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px 50px;
}

.text > .contains > .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text .list > .list-title {
  font-size: 17px;
}

.text .list > .list-plus {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.text .list-plus > li {
  line-height: 20px;
}

.text .list-plus > li::before {
  content: "+";
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 40px;
  vertical-align: bottom;
}

.text .list > .list-img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}

.text .list-img > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--primary-color-light);
  border-radius: 50%;
}

.text .list-img img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  object-position: center;
}

.text > form {
}

.text > form > button {
  background-color: var(--primary-color);
  padding: 1em 2em;
  line-height: 1em;
  border: none;
  border-radius: 0.5em;
  transition: all 0.3s;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.text > form > button:hover {
  background-color: var(--primary-color-dark);
  color: #fff;
  border-radius: 1.5em;
}

@media (min-width: 480px) {
  .container {
    width: 460px;
  }
}

@media (min-width: 780px) {
  .container {
    width: 660px;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    position: static;
    transform: translateY(0);
    box-shadow: none;
  }

  .main-menu > .menu {
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  main.container {
    flex-direction: row;
  }

  .gallery {
    width: 55%;
  }

  .text {
    width: 45%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
  }

  .text > .contains {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
